/* 

1. Imports & Includes
2. Mixins
3. Header & Navigation
4. Feature
5. Main
6. Footer
7. Blog
8. Menu
9. Ecommerce
10. Forms
11. Misc Elements (Social, Typography etc.)

*/

/* 1. Imports & Includes */

@import "@{templateCommon}/basekit-bootstrap.less";
@tablet: ~"only screen and (max-width: 860px)";
@mobile: ~"only screen and (max-width: 650px)";

/* 2. Mixins */

.border-radius (@radius: 6px) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
}

.transition (@prop: all, @time: 0.5s, @ease: ease) {
	-webkit-transition: @prop @time @ease;  
	-moz-transition:    @prop @time @ease;
	-ms-transition:     @prop @time @ease; 
	-o-transition:      @prop @time @ease;  
}

/* 3. Header & Navigation */

.bk-pt-home {
	.bk-header {
		background: transparent;
		margin-right: 10%;
		padding: 30px 0 30px 30px;
		position: absolute;
		top: 0;
		width: 90%;
		z-index: 9999;
		@media @mobile {
			left: 0;
			width: 70%;
		}
	}
	#main {
		padding-top: 0;
	}
}

.bk-header {
	background: lighten(@color-swatch6, 5%);
	padding: 30px;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 9999;
	@media @mobile {
		padding: 20px 30px;
	}
}

.widget {
	&.logo, &.companyname {
		display: inline-block;
	}
	&.logo {
		margin-right: 2px;
		vertical-align: text-bottom;
		img {
			vertical-align: top;
		}
	}
	&.companyname {
		a {
			@media @mobile {
				font-size: bkscale(@font-swatch10-font-size, 0.96);
			}
		}
	}
}

.bk-nav {
	background: @color-swatch6;
	border-left: 1px solid darken(@color-swatch6, 50%);
	height: 100%;
	position: fixed;
	right: -320px;
	width: 320px;
	.transition( all, 0.5s, ease);
    z-index: 9999;
    .widget.socialicons {
    	border-left: 1px solid darken(@color-swatch6, 50%);
    	padding: 30px 15px;
    	margin: 0;
    }
	@media only screen and (max-height: 450px) {
		position: absolute;
		height: auto;
	}
    /*&:after {
    	@media only screen and (max-height: 450px) {
    		background: @color-swatch6;
			border-left: 1px solid black;
			content: "";
			display: block;
			height: 100%;
			right: 0;
			width: 320px;
			position: absolute;
    	}
    }*/
    @media @mobile {
    	right: -250px;
    	width: 250px;
    }
}

.widget.extendednavigation {
	background: @color-swatch6;
	border-left: 1px solid darken(@color-swatch6, 50%);
	display: table;
	padding: 30px 15px;
	width: 100%;
    ul {
        display: block;
        padding: 0;
        list-style: none;
        width: 100%;
        @media @tablet {
        	display: block;
        }
        li {
            display: block;
            padding: 10px 0;
            cursor: pointer;
            &:before {
	            display: inline-block;
	            text-decoration: inherit;
	            width: 1em;
	            color: #59e9df;
	            margin-right: 12px;
	            text-align: center;
	            font-variant: normal;
	            font-size: 0.75em;
	            text-transform: none;
	            line-height: 1em;
        	}
            &:hover { 
            	.transition( all, 0.5s, ease);
            	ul {
            		background: transparent;
            		position: relative;
            		li {
            			padding: 8px 6px;
            		}
            		.text {
            			font-size: bkscale(@font-swatch6-font-size, 0.95);
            		}
            	}
            }
            ul {
				display: none;
			}
            @media @tablet {
            	border-bottom: none;
            }
            &.folder {
            	&:after {
            		border-top-color: lighten(@color-swatch5, 32%);
            		top: 22px;
            	}
            	.text {
            		color: lighten(@color-swatch5, 32%);
            	}
	        }
	        a {
	        	color: lighten(@color-swatch5, 32%);
	        	&:hover {
	        		color: lighten(@color-swatch5, 60%);
	        	}
	        }
        }

    }
	a.pull {
		background-color: fade(@color-swatch6, 15%);
		border: 1px solid fade(@color-swatch1, 20%);
		.border-radius(6px);
		padding: 11px 9px 0;
		position: absolute;
		right: 345px;
		top: 30px; 
		display: inline-block;
		width: 42px;
		height: 38px;
		text-indent: -900em;
		overflow: hidden;
		cursor: pointer;
		outline: none;
		.transition( all, 0.5s, ease);
	    @media @mobile {
	    	right: 270px;
	    }
	    &:hover {
	    	background-color: fade(@color-swatch6, 25%);
	    	border: 1px solid fade(@color-swatch1, 30%);
	    	.transition( all, 0.5s, ease);
	    }
		&:after {
			content: '';
			position: absolute;
			width: 22px;
			height: 2px;
			background: white;
			box-shadow: 0 6px 0 white, 0 12px 0 white;
			@media @tablet {
				top: 11px;
				right: 9px;
			}
		}
	}
	.bk-overlay {
		width: 100%;
	}
}

div.widget .extendednavigation ul, div.widget.extendednavigation ul {
	display: block;
	li {
		display: block; 
	}
}

div.widget .extendednavigation > ul, div.widget.extendednavigation > ul {
	display: block!important;
}

body.menu-active .widget.extendednavigation#slide-menu { 
	right: 0px; 
}

body.menu-active #main, body.menu-active .bk-header { 
	right: 320px; 
	.transition( all, 0.5s, ease);
    -webkit-backface-visibility: hidden;
    @media @mobile {
    	right: 250px;
    }
}

body #main, body .bk-header {
	.transition( all, 0.5s, ease);
	-webkit-backface-visibility: hidden;
}

body.menu-active .bk-nav { 
	position: absolute;
	right: 0; 
}

@-webkit-keyframes huerotate {
  0% {
    -webkit-filter: hue-rotate(0deg);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
  }
}

@keyframes huerotate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

/* 4. Feature */

.widget.feature .feature-bgimg .content {
  	-webkit-animation: huerotate 18s infinite alternate;
  	animation: huerotate 24s infinite alternate;

	width: 100%;
    height: 100%;

	background: -moz-linear-gradient(bottom,  rgba(26,120,132,0.5) 0%, rgba(125,185,232,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, left bottom, color-stop(0%,rgba(26,120,132,1)), color-stop(100%,rgba(125,185,232,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(bottom,  rgba(26,120,132,0.5) 0%,rgba(125,185,232,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(bottom,  rgba(26,120,132,0.5) 0%,rgba(125,185,232,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(bottom,  rgba(26,120,132,0.5) 0%,rgba(125,185,232,0) 100%); /* IE10+ */
	background: linear-gradient(to top,  rgba(26,120,132,0.5) 0%,rgba(125,185,232,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a7884', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */

	padding: 0 40px;
	height: 800px;
	text-align: center;
	@media @mobile {
		padding: 0 20px;
	}
	.spare {
		@media only screen and (max-height: 450px) {
			position: relative;
			top: 30px;
			h2 {
				font-size: bkscale(@font-swatch1-font-size, 0.62);
				line-height: bkscale(@font-swatch1-line-height, 0.68);
				padding-bottom: 8px;
			}
			h3 {
				font-size: bkscale(@font-swatch5-font-size, 0.95);
				line-height: bkscale(@font-swatch5-line-height, 1.05);
			}
			button {
				padding: 8px 15px;
				margin-top: 12px;
			}
		}
	}
	h2 {
		font-family: @font-swatch1-font-family;
		font-size: @font-swatch1-font-size;
		font-weight: @font-swatch1-font-weight;
		line-height: @font-swatch1-line-height;
		padding-bottom: 2px;
		padding-top: 540px;
		@media @mobile {
			font-size: bkscale(@font-swatch1-font-size, 0.72);
			line-height: bkscale(@font-swatch1-line-height, 0.78);
		}
		@media only screen and (max-height: 420px) {
			font-size: bkscale(@font-swatch1-font-size, 0.7);
			line-height: bkscale(@font-swatch1-line-height, 0.75);
		}
	}
	h3 {
		font-family: @font-swatch3-font-family;
		font-size: bkscale(@font-swatch5-font-size, 1.1);
		font-weight: @font-swatch3-font-weight;
		line-height: bkscale(@font-swatch5-line-height, 1.1);
		font-style: italic;
	}
	button {
		border: 2px solid fade(white, 35%);
		background: transparent;
		border-radius: 30px 0;
		padding: 12px 25px 10px;
		margin-top: 15px;
		&:hover {
			background-color: white;
			color: black;
			.transition( all, 0.75s, ease);
		}
		@media @mobile {
			padding: 8px 20px;
			margin-top: 10px;
		}
		span {
			vertical-align: text-bottom;
		}
	}
}

.feature-img, .widget.feature {
	width: 100%;
	height: 800px;
}

/* 5. Main */

.contain {
	padding: 40px;
	margin: 0 auto;
	max-width: 1600px;
	@media @mobile {
		padding: 20px;
	}
}

#main {
	padding-top: 100px;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    background: #fcfeff;
    .border-radius(0px);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* 6. Footer */

.bk-footer {
	.copyright {
		.contain {
			border-top: 1px solid lighten(@color-swatch5, 68%);
			padding: 12px 40px;
		}
		.widget.profile {
			display: block;
			width: 100%;
			color: @font-swatch5-color;
			padding: 30px 0;
			text-align: center;
		}
	}
}

/* 7. Blog */

.blogpost, .blog-post-list {
    .blog-post-feature-image-wrap {
        line-height: 0;
        background-size: contain;
        background-position: left;
        margin: 20px 0 25px;
        width: auto;
        img {
            display: none;
        }
    }
    h1 {
    	font-family: @font-swatch2-font-family;
    	font-size: bkscale(@font-swatch2-font-size, 1.2);
    	line-height: bkscale(@font-swatch2-line-height, 1.2);
    	padding-bottom: 18px;
    }
}

.blog-post-list .blog-post-feature-image-wrap {
    height: 275px;
}

.blogpost .blog-post-feature-image-wrap {
    height: 350px;
}

.blog-post-list {
    color: @color-swatch4;
    h2 a {
        color: @color-swatch4;
        font-size: @font-swatch2-font-size;
    }
    .blog-post-date {
        color: @font-swatch5-color;
    }
}

/* 8. Menu */

.widget {
    &.menusections {
        ul {
            border: 2px solid lighten(@font-swatch5-color, 65%);
            text-align: center;
        }
    }
}

.menu {
    .menu-item-image-wrap {
        background-size: cover;
        background-repeat: no-repeat;
        height: 180px;
        margin: 0.25em 0 0.75em;
        background-position: center;
        img {
            display: none;
        }
    }
    .menu-header {
        margin: 2em 0 2.5em;
        text-align: center;
        h1 {
        	font-size: bkscale(@font-swatch1-font-size, 0.7);
        	line-height: bkscale(@font-swatch1-line-height, 0.7);
            padding-bottom: 10px;
        }
        p {
        	color: lighten(@font-swatch5-color, 40%);
            padding: 5px 0 0;
        }
    }
    .menu-subsection {
        padding: 0;
        .menu-subsection-header {
            padding: 20px 0;
            h2 {
                color: @color-swatch4;
            }
        }
    }
    .menu-item-nutritional-title {
        font-size: bkscale(@font-swatch5-font-size, 0.86);
        &:before {
            content: "\2014";
            color: lighten(@font-swatch5-color, 65%);
            display: block;
            padding-bottom: 20px;
            padding-top: 8px;
            line-height: 8px;
        }
    }
    .menu-item-nutritional-prop  {
        font-size: bkscale(@font-swatch5-font-size, 0.9);
        line-height: @font-swatch5-line-height;
    }
    .menu-section-item-dietary-props .dietary-icon {
        border: 1px solid lighten(@font-swatch5-color, 65%);
        font-size: bkscale(@font-swatch5-font-size, 0.86);
        padding: 2px 5px;
        margin-top: 15px;
    }
    .menu-subsection-promoted, .menu-items li.menu-item-promoted {
        background-color: lighten(@color-swatch5, 78%);
        border: 1px solid lighten(@color-swatch5, 70%);
        padding: 2em;
        @media @mobile {
            padding: 1em;
        }
        ol {
            padding-bottom: 0;
        }
        .menu-subsection-header {
            padding: 20px 0 12px;
            h2 {
                margin-bottom: 0;
            }
        }
        .menu-section-item-dietary-props .dietary-icon {
            
        }
    }
    .menu-subsection-name {
        color: @font-swatch2-color;
        margin-bottom: 0.25em;
    }
    .menu-item-description {
    }
    .menu-item-price p {
        color: @color-swatch3;
        font-size: bkscale(@font-swatch5-font-size, 1.12);
    }
}

/* 9. Ecommerce */

.widget.ecomproductslist {
	.productlist-display-form {
		.form-group {
			input.productlist-search, input.productlist-search + button.btn {
				height: 45px;
			}
			label:after {
				content: ":";
				display: inline-block;
				position: relative;
			}
			button {
				position: relative;
				left: -9px;
			}
		}
	}
	.ecom-productslist-image-wrap {
		margin-bottom: 20px;
	}
	.ecom-productlist-info {
		h2 {
	    	padding-bottom: 5px;
	    }
	    span {
	    	font-size: bkscale(@font-swatch2-font-size, 0.80);
	    }
	}
}

.productlist-display-form, .productlist-item-count { 
    select {
    	color: lighten(@font-swatch5-color, 15%);
        font-size: bkscale(@font-swatch7-font-size, 0.85);
        .border-radius(0);
        height: 45px;
        margin-left: 6px;
        -webkit-appearance: none;
        border: 1px solid lighten(@color-swatch7, 2%);
        padding: 4px 35px 4px 12px;
        background: image('/images/arrow-dropdown.png') 95% center no-repeat, @color-swatch7;
        @media @tablet {
        	background-position: 98% center;
            width: 100%;
        }
    }
}

.widget.ecomproduct {
	h2 {
		padding-bottom: 5px
	}
	.ecom-product-price {
		color: lighten(@color-swatch5, 20%);
		font-size: bkscale(@font-swatch5-font-size, 1.25);
	}
}

.widget.ecomcheckout {
	table {
		margin-bottom: 40px;
	}
	table tr th, table tr td {
		border-bottom: 1px solid fade(@color-swatch5, 15%);
	}
	a {
		color: @font-swatch5-color;
		font-size: bkscale(@font-swatch5-font-size, 1.1)
	}
	.checkout-pricepu {
		color: lighten(@color-swatch5, 20%);
	}
}

.delivery {
	h3 {
		padding-bottom: 25px;
	}
	input, textarea {
		.border-radius(6px);
	}
	select {
		color: lighten(@font-swatch5-color, 15%);
	    font-size: bkscale(@font-swatch7-font-size, 0.85);
	    .border-radius(0px);
	    height: 45px;
	    -webkit-appearance: none;
	    border: 2px solid lighten(@color-swatch7, 2%);
	    padding: 4px 35px 4px 12px;
	}
}

.ecom-productslist-title, .ecom-featuredproducts-title, .ecom-product-title {
	font-size: @font-swatch2-font-size;
}

.widget {
	.ecomfeaturedproducts, .ecomcategorieslist, .checkout-form, {
		margin: 1.5em 0;
	}
}

.ecom-featuredproducts-header h2 {
	padding-bottom: 25px;
}


/* 10. Forms */

input, textarea {
	background-color: rgba(0,0,0, 0.02);
	border: 2px solid rgba(0,0,0, 0.04);
	&:hover {
		border: 2px solid rgba(0,0,0, 0.2);
		.transition( border, 0.5s, ease);
	}
}

.widget {
    &.contactform {
        input, textarea {
            border: 1px solid fade(@color-swatch5, 25%);
            &.email {
                @media @mobile {
                    width: 70%;
                }
            }
        }
    }
    &.profile {
        form {
            button {
                position: relative;
                left: -4px;
                top: 1px;
            }
            fieldset input {
                border: 1px solid fade(@color-swatch5, 25%);
            }
        }
    }
    &.signupform fieldset {
        button {
            height: 45px;
            width: 65px;
            position: relative;
        }
        input {
            border: 1px solid fade(@color-swatch5, 25%);
            width: 50%;
            @media @tablet {
                width: 65%;
            }
            @media @mobile {
                width: 70%;
            }
        }
    }
    &.blogsearch {
        margin: 10px 0;
        input {
            border: 1px solid fade(@color-swatch5, 25%);
            height: 45px;
            @media @mobile {
                width: 100%;
            }
        }
        button {
            background-color: @font-swatch7-background-color;
            border: 0;
            font-family: @font-swatch7-font-family;
            font-size: @font-swatch7-font-size;
            font-weight: @font-swatch7-font-weight;
            color: @font-swatch7-color;
            letter-spacing: inherit;
            padding: 5px 10px;
            margin: 1em 0;
            text-decoration: none;
            height: 45px;
            position: relative;
        }
    }
}

/* 11. Misc Elements */

h5 {
	font-family: @font-swatch1-font-family;
	font-size: @font-swatch2-font-size;
	font-weight: @font-swatch2-font-weight;
	line-height: @font-swatch2-line-height;
}

hr.line {
	background-color: lighten(@color-swatch5, 75%)
}

.widget.socialicons, .widget.profile .bk-profile-socialicons {
	margin: 2em 0 1em;
	text-align: center;
    span a {
		background-color: transparent;
		background-size: 26px;
		&:hover{
			background-color: transparent;
		}
	}
}

.svg {
	.bk-socialicons-linkedin {
		a {
			background-image: image('/images/social/socialicons-linkedin.svg');
			&:hover {
				background-image: image('/images/social/socialicons-linkedin-hover.svg');
			}
		}
	}
	.bk-socialicons-twitter {
		a {
			background-image: image('/images/social/socialicons-twitter.svg');
			&:hover {
				background-image: image('/images/social/socialicons-twitter-hover.svg');
			}
		}
	}
	.bk-socialicons-facebook {
		a {
			background-image: image('/images/social/socialicons-facebook.svg');
			&:hover {
				background-image: image('/images/social/socialicons-facebook-hover.svg');
			}
		}
	}
	.bk-socialicons-rss {
		a {
			background-image: image('/images/social/socialicons-rss.svg');
			&:hover {
				background-image: image('/images/social/socialicons-rss-hover.svg');
			}
		}
	}
	.bk-socialicons-googleplus {
		a {
			background-image: image('/images/social/socialicons-googleplus.svg');
			&:hover {
				background-image: image('/images/social/socialicons-googleplus-hover.svg');
			}
		}
	}
	.bk-socialicons-youtube {
		a {
			background-image: image('/images/social/socialicons-youtube.svg');
			&:hover {
				background-image: image('/images/social/socialicons-youtube-hover.svg');
			}
		}
	}
}